.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  margin: 0;
  padding: 20px;
  margin-right:10%;
}

.chess-board {
  width: 60vmin;
  height: 60vmin;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.cube {
  background: #3498db;
  border-radius: 8px;
  opacity: 0.7;
  transform: scale(0.8);
  animation: pulse 2s infinite ease-in-out;
}

/* Шахматный порядок */
.cube:nth-child(odd) {
  background: #B099FF;
}

.cube:nth-child(even) {
  background: #7866B5;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .chess-board {
    width: 50vmin;
    height: 50vmin;
  }
}