.main-section {
    flex: 1;
    padding-inline: 40px;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.chat-section {
    flex: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    padding: 10px 0;
    min-height: 0;
    padding-inline: 12%;
}

@media (max-width: 768px) {
    .chat-section{
        padding-inline: 0;
    }
}