.main-section {
    flex: 1;
    padding-inline: 20px;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-section {
    flex: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    padding: 10px 0;
}

.chat-section>* {
    margin-block: 20px;
}