.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
}

p, h1, a, h2, label {
    color: #fff;
}

.form__name {
    font-size: 2.5rem;
    /* font-style: italic; */
    font-weight: 400;
    margin-bottom: 20px;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    box-sizing: border-box;
}

#login, #password {
    background-color: white;
    width: 100%;
    padding: 20px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 21px;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;
}

#password {
    margin-block: 20px;
}

#login::placeholder, #password::placeholder {
    color: #303030;
    opacity: 0.6;
    font-weight: 600;
}

.form-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.form-submit a {
    color: #fff;
    font-size: 0.85rem;
    text-decoration: underline;
    align-self: center;
}

.form-submit label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.85rem;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}


.form-submit input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.submit-btn {
    background-color: #B099FF;
    border: none;
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: #9779ff;
}

.no-account {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
}

form > * {
    margin-block: 100px;
}

@media (max-width: 500px) {
    .form-container {
        margin-left: 0;
        padding: 10px 15px;
    }

    #login, #password {
        padding: 15px 20px;
    }

    .form-submit {
        flex-direction: column;
        align-items: left;
        text-align: center;
        gap: 1px;
        margin: 0;
    }

    .form-submit button {
        width: 100%;
    }

    .form-submit a {
        margin-top: 10px;
    }

    .form-submit a,
    .form-submit label,
    .no-account {
        font-size: 1.2rem;
    }

}
