.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 1;
    max-height: 100px;
    min-height: 80px;
    padding-inline: 20px;
}

.header > * {
    padding-inline: 20px;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}