.input-message__wrapper {
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 20px;
    max-height: 200px;
    margin: 0;
    width: 100%;
}

.input-message {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    max-height: 60px;
    background-color: white;
    border-radius: 40px;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin: 0;
}

#message::placeholder,
#message:focus,
#message::selection {
    color: #8C8098;
    font-size: 1.25rem;
    font-style: italic;
    outline: none;
    box-shadow: none;
}

#message {
    border: none;
    width: 85%;
    padding-right: 70px;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.input__icons {
    position: absolute;
    right: 15px;
    display: flex;
    gap: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: filter 0.3s ease;
}

.input__icons img:hover {
    transform: scale(1.3);
    filter: brightness(0) saturate(100%) invert(43%) sepia(14%) saturate(400%) hue-rotate(227deg) brightness(91%) contrast(81%);
}

.input__icons img {
    cursor: pointer;
    padding: 10px;
    transition: filter 0.3s ease;
}


.send-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: transform 0.2s ease-in-out;
    margin-top: 0;
}

.send-btn:hover {
    transform: scale(1.3);
}

.send-btn img:hover {
    filter: brightness(0) saturate(100%) invert(43%) sepia(14%) saturate(400%) hue-rotate(227deg) brightness(91%) contrast(81%);
}

@media (width < 768px) {
    .input-message__wrapper {
        visibility: hidden;
        display: none;
    }
}