.input-message__wrapper{
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 20px;
    align-content: center;
    margin-bottom: 5%;
}

.input-message{
    align-items: center;
    align-content: center;
    max-width: 800px;
    width: 100%;
    max-height: 60px;
    background-color: white;
    border-radius: 40px;
    height: 100%;
    align-items: center;
    position: relative; 
    overflow: hidden;
    float: right;
    align-content: center;
}

#message::placeholder, #message:focus, #message::selection{
    color: #8C8098;
    font-size: 1.25rem;
    font-style: italic;
    outline: none;
    box-shadow: none; 
}

#message{
    border:none;
    width: 85%;
    padding-right: 70px; 
    margin-left: 5%;
}

.input__icons{
    position: absolute;
    right: 15px;
    display: flex;
    gap: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input__icons img{
    cursor: pointer;
    padding: 10px;
}


.send-btn{
    background-color: white;
    border: none;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
        width: 60px;
    height: 60px;
}

.send-btn:hover{
    padding:10px
}
