@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


* {
    box-sizing: border-box
}

html,
body,
#root {
    height: 100vh;
    overflow: hidden;
    --global-font-size: 16px;
    font-size: var(--global-font-size);
}

body {
    margin: 0;
    background: #f5f4f7;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial
}

input,
input:focus,
input::selection,
input::placeholder {
    color: #8C8098;
    font-size: 1.25rem;
    font-style: italic;
    outline: none;
    box-shadow: none;
    align-self: center;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #8C8098 !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  caret-color: #8C8098 !important;
  font-family: inherit !important;
}


.custom-scrollbar {
    scrollbar-width: 10px;
    scrollbar-color: #403752 #403752;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #403752;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #f5f4f7;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 20px;
    height: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #E1E0E1;
}
