.panel{
    display: flex;
    max-width: 437px;
    background-color: #403752;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding:0;
    margin-top: -10px;
    margin-inline: auto;
    justify-content: center;
    align-self: center;
}

@media (width < 768px) {
    .panel{
        max-width: 300px;
        justify-self: center;
    }
}