.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 410px;
    width: 100%;
}

p, h1, a, h2, label {
    color: #fff;
}

.form__name {
    font-size: 2.5rem;
    /* font-style: italic; */
    font-weight: 400;
    margin-bottom: 20px;
}

.form-container {
    margin-inline: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    box-sizing: border-box;
}

.registration-form #login,
.registration-form #password,
.registration-form #repeat-password {
    width: 100%;
    padding: 25px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 21px;
    box-sizing: border-box;
    outline: none;
    font-size: 1rem;
}

#password, #repeat-password {
    margin-block: 20px;
}

#login::placeholder, #password::placeholder, #repeat-password::placeholder {
    color: #303030;
    opacity: 0.6;
    font-weight: 600;
    font-style: normal;
}

.form-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.form-submit a {
    color: #fff;
    font-size: 0.85rem;
    text-decoration: underline;
}

.form-submit label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.85rem;
    color: #fff;
    cursor: pointer;
}

.reg-btn {
    background-color: #B099FF;
    border: none;
    border-radius: 15px;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    width: 100%;
    transition: background 0.3s;
}

.reg-btn:hover {
    background-color: #9779ff;
}

.no-account {
    font-size: 1.25rem;
    font-weight: 600;
    /* font-style: italic; */
    margin-top: 15px;
}

@media (max-width: 500px) {
    .form-container {
        justify-content: center;
        align-content: center;
        margin-inline: 5%;
        padding: 20px 15px;
    }

    #login, #password, #repeat-password {
        padding: 15px 20px;
    }

    .form-submit {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .form-submit a,
    .form-submit label,
    .no-account {
        font-size: 1.2rem; 
    }

    .reg-btn {
        font-size: 1.2rem;
        width: 100%;
    }
}
